@model IEnumerable<ITHelpDeskSystem.ViewModels.ITStaffViewModel>

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CategoryLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketLoad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CategoryLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketLoad)
            </td>
            <td>
                @Html.ActionLink("Details", "TechnicianTickets", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>