@model IEnumerable<ITHelpDeskSystem.ViewModels.TicketViewModel>

@{
    ViewBag.Title = "Technician's Tickets";
}

<h2>Technician's tickets</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultionDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultionDate)
            </td>

            <td>
                @Html.ActionLink("Details", "TicketDetails", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

<div style="display:inline; margin-right:40px">@Html.ActionLink("Back to Reports", "Index", null, new { @class = "btn btn-info" })</div>