@model ITHelpDeskSystem.ViewModels.AccelerateTicketViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div style="margin-top:3em" class="form-horizontal">
        <h4>Accelerate Ticket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.AccelerationComment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccelerationComment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccelerationComment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions no-color">
            <button class="btn btn-success pull-right "> <span class="glyphicon glyphicon-check" type="submit"></span> Done</button>
            <div style="display:inline; margin-right:40px">@Html.ActionLink("Back to all tickets", "Index", null, new { @class = "btn btn-info" })</div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
