@model IEnumerable<ITHelpDeskSystem.ViewModels.CommentViewModel>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commenter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>

            </tr>
        }

    </table>*@

<h4 style="margin-bottom:-1em">Comments</h4>
<hr />
@if ((Model.Count() == 0))
{
    <h5 id="grey"> There are no comments to display.</h5>
}

@foreach (var item in Model)
{
    <div> @Html.DisplayFor(modelItem => item.CommentDate)</div>
    <p > <strong>@Html.DisplayFor(modelItem => item.Commenter)</strong>: @Html.DisplayFor(modelItem => item.CommentText)</p>
    <hr />
}




