@model IEnumerable<ITHelpDeskSystem.ViewModels.TicketViewModel>

@{
    ViewBag.Title = "All Tickets";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2 style="margin-top:1em;">All Tickets</h2>

@if (Model.Count() == 0)
{
    <h5 id="grey"> There are no ticckets to be displayed. Please make sure to login to view tickets</h5>
}

@if (ViewContext.HttpContext.User.IsInRole("Staff"))
{
    <a style="margin-bottom:15px;" , href="@Url.Action("Create", "Ticket")" class="btn btn-success btn-sm pull-right">
        <span class="glyphicon glyphicon-plus "></span>
       Report an issue
    </a>
}
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <a style="margin-bottom:15px;" , href="@Url.Action("CreateOnBehalf", "Ticket")" class="btn btn-success btn-sm pull-right">
        <span class="glyphicon glyphicon-plus "></span>
        Create a ticket
    </a>
}

<table class="table table-hover table-stripe" id="ticketTable">
    <thead>
        <tr>
            @if (!(Model.Count() == 0))
            {
                <th>
                    @Html.DisplayNameFor(model => model.TicketOwnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th></th>}
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketOwnerName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td style="text-align:center">
                @if (ViewContext.HttpContext.User.IsInRole("Staff") && ((item.Status == ITHelpDeskSystem.Models.TicketStatus.Open) || (item.Status == ITHelpDeskSystem.Models.TicketStatus.InProgress)))
                {
                    @Html.ActionLink("Accelerate", "Accelerate", new { id = item.Id })<p style="display:inline; text-align:center ">|</p> 
                }
                 @if ((ViewContext.HttpContext.User.IsInRole("Staff") || ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin")) && ((item.Status == ITHelpDeskSystem.Models.TicketStatus.Open) || (item.Status == ITHelpDeskSystem.Models.TicketStatus.InProgress)))
                {
                    @Html.ActionLink("Comment", "Comment", "Comment", new { id = item.Id }, null) <p style="display:inline; text-align:center ">|</p> 
                }
                 @if (ViewContext.HttpContext.User.IsInRole("Staff") && item.Status == ITHelpDeskSystem.Models.TicketStatus.Closed)
                {
                    @Html.ActionLink("Feedback", "Feedback", "Feedback", new { id = item.Id }, null)
              
                }

                @if (ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    if (!(item.Status == ITHelpDeskSystem.Models.TicketStatus.Closed) && !(item.Status == ITHelpDeskSystem.Models.TicketStatus.Resolved))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <p style="display:inline;">|</p>
                    <a style="text-align:center"> @Html.ActionLink("Assign", "Assign", "Assignment", new { id = item.Id }, null) <p style="display:inline; text-align:center;">|</p></a>

                    }

                }

                @*@if ((ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin")) && (!(item.Status == ITHelpDeskSystem.Models.TicketStatus.Closed)))
                {
                    <a style="text-align:center"> @Html.ActionLink("Assign", "Assign", "Assignment", new { id = item.Id }, null) <p style="display:inline; text-align:center;">|</p></a>
                }*@
                @if (ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Details", "ITDetails", new { id = item.Id })
                }
                <div id="Ticket"></div>
                @if (ViewContext.HttpContext.User.IsInRole("Staff"))
                {
                    @Html.ActionLink("Details", "StaffDetails", new { id = item.Id })

                }
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Scripts/Main.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ticketTable').DataTable();
        });
        $('#ticketTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });
        $('.dataTables_filter input').attr("placeholder", "Seach tickets")

    </script>
}
@section styles
    {
    <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
}