@model ITHelpDeskSystem.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Ticket Details";
}
link href="~/Content/Site.css" rel="stylesheet" />
<h2>Ticket Details</h2>
<div>
    <fieldset class="fieldset-border">
        <legend class="legend-border">Summary</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedByName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedByName)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DueDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DueDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </fieldset>
    <fieldset class="fieldset-border">
        <legend class="legend-border">Incident details</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IncidentDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IncidentDescription)
            </dd>
        </dl>
    </fieldset>

    <fieldset class="fieldset-border">
        <legend class="legend-border">Solution details</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IncidentSolution)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IncidentSolution)
                 @if (!String.IsNullOrEmpty(Model.IncidentSolution))
                {
                  @Html.DisplayFor(model => model.IncidentSolution)
                }
                @if (String.IsNullOrEmpty(Model.IncidentSolution))
                {
                    <p style="color:lightgray">Not solved</p>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ResultionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResultionDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Attachment)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Attachment)
                @if (!String.IsNullOrEmpty(Model.AttachmentFilePath))
                {
                    <a href="@Url.Content(Model.AttachmentFilePath)">View attachments</a>
                }
                @if (String.IsNullOrEmpty(Model.AttachmentFilePath))
                {
                    <p style="color:lightgray">No attachments</p>
                }
            </dd>
        </dl>
    </fieldset>
    <fieldset class="fieldset-border">
        <legend class="legend-border">Acceleration details</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AccelerationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccelerationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccelerationComment)
            </dt>

            <dd>
                @if (!String.IsNullOrEmpty(Model.AccelerationComment))
                {
                    @Html.DisplayFor(model => model.AccelerationComment)
                }
                @if (String.IsNullOrEmpty(Model.AccelerationComment))
                {
                    <p style="color:lightgray">No comment</p>
                }
            </dd>
        </dl>
    </fieldset>
</div>
<div class="form-actions no-color">

    @*@if (!(Model.Status == ITHelpDeskSystem.Models.TicketStatus.Closed))
        {
            <div class="btn pull-right" style="display:inline; margin-right:40px;background-color:mediumaquamarine; color:white;">@Html.ActionLink("Comment", "Comment", "Comment", new { id = Model.Id }, null)</div>

        }*@
    <div class="pull-left" style="display:inline; margin-right:40px">@Html.ActionLink("Back to all tickets", "Index", null, new { @class = "btn btn-info" })</div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@if ((ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin")) && !(Model.Status == ITHelpDeskSystem.Models.TicketStatus.Closed))
{<a style="display:inline; background-color: mediumaquamarine; color:#ffffff; border-color:#6bc8c0;" , href="@Url.Action("Edit", "Ticket", new { id = Model.Id })" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-wrench "></span>
        Edit solution
    </a>
    <div class="btn pull-right" style="display:inline; margin-right:40px;background-color:mediumaquamarine; color:white;">@Html.ActionLink("Comment", "Comment", "Comment", new { id = Model.Id }, null)</div>
    <div class="btn pull-right" style="display:inline; margin-right:40px;background-color:mediumaquamarine; color:white;">@Html.ActionLink("Reassign", "Assign", "Assignment", new { id = Model.Id }, null)</div>
}

@if (ViewContext.HttpContext.User.IsInRole("ITManager"))
{
    @Html.ActionLink("Back to Summery", "Index", "ITManager")
}



