@model ITHelpDeskSystem.ViewModels.TicketViewModel

<div>
    <h4>TicketViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITStaffResponsibleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITStaffResponsibleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITstaffEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITstaffEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITstaffMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITstaffMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITstaffExt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITstaffExt)
        </dd>
    </dl>
</div>
