@model ITHelpDeskSystem.ViewModels.TicketViewModel

<div>
    <h4 style="margin-bottom:-1em">IT staff details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.ITStaffResponsibleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITStaffResponsibleName)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.ITstaffEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITstaffEmail)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.ITstaffMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITstaffMobile)
        </dd>
    </dl>
</div>
