@model ITHelpDeskSystem.ViewModels.TicketViewModel

<div>
    <h4 style="margin-bottom:-1em">Ticket details</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.importance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importance)
        </dd>
        
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>*@
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.IncidentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentDescription)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attachment)
            @if (!String.IsNullOrEmpty(Model.AttachmentFilePath))
        {
            <a href="@Url.Content(Model.AttachmentFilePath)">View attachment</a>
    }
        </dd>*@

    </dl>
</div>
