@model ITHelpDeskSystem.ViewModels.StaffViewModel

@{
    ViewBag.Title = "Add staff";
}

<h2>Add a new staff</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <fieldset class="fieldset-border">
        <legend class="legend-border">Login Information</legend>
        <div class="row">
            <div class="form-group col-sm-6" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Staff initials (e.g.  mam)" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "example@sunbulahgroup.com" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Passowrd" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Retype Password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset-border">
        <legend class="legend-border">Personal Information</legend>
        <div class="row">
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First name" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g.  0096605XXXXXXXXX" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset-border">
        <legend class="legend-border">Professional Information</legend>
        <div class="row">
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", placeholder = "Department" } })
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "JobTitle" } })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.ExtensionNumber, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ExtensionNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. 123" } })
                @Html.ValidationMessageFor(model => model.ExtensionNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.OfficeNumber, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.OfficeNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. 123" } })
                @Html.ValidationMessageFor(model => model.OfficeNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.StaffLevel, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.StaffLevel, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g.  line manager" } })
                @Html.ValidationMessageFor(model => model.StaffLevel, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-4" style="margin-left: 0.25em">
                @Html.LabelFor(model => model.ManagerialPosition, htmlAttributes: new { @class = "control-label" })
                @*@Html.DropDownList(model => model.ManagerialPosition, htmlAttributes: new { @class = "form-control" })*@
                @Html.EnumDropDownListFor(model => model.ManagerialPosition, "Select managerial position", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ManagerialPosition, "", new { @class = "text-danger" })
            </div>
</fieldset>

    <div class="form-group" style="display:inline-block;">
       <input type="submit" value="Done" class="btn btn-success pull-right" style="margin-left:65em"/>
        <div style="display:inline; margin-right:40px">@Html.ActionLink("Back to staff list", "Index", null, new { @class = "btn btn-info" })</div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
