@model ITHelpDeskSystem.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Comment";
}

<h2>Comment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div style="margin-left:0.75em" class="form-group">
            @Html.LabelFor(model => model.CommentText, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CommentText, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.CommentText, "", new { @class = "text-danger" })
        </div>
        <div id="Ticket"></div>
        <div id="IT"></div>
        <div id="Comment"></div>

        <div class="form-actions no-color">
            <input type="submit" value="Done" class="btn btn-success pull-right" />
            <div class="pull-left" style="display:inline; margin-right:40px">@Html.ActionLink("Back to all tickets", "Index", "Ticket", null, new { @class = "btn btn-info" })</div>
            <div style="display:inline; margin-right:40px; " class="btn btn-group-xs btn-default pull-left">@Ajax.ActionLink("IT staff info", "ITStaffInfoPartial", "Ticket", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "IT", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })</div>
            <div style="display:inline; margin-right:40px; " class="btn btn-group-xs btn-default pull-left">@Ajax.ActionLink("Ticket info", "TicketInfoPartial", "Ticket", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "Ticket", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })</div>
            <div style="display:inline; margin-right:40px; " class="btn btn-group-xs btn-default pull-left">@Ajax.ActionLink("All comments", "CommentPartial", "Ticket", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "Comment", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })</div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
