<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IT Help Desk</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/bundles/cssdatatables")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="height:69px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                    <a  class="navbar-brand" style="margin-top:-4px" href="@Url.Action("Index", "Home")">
                        <image src="~/Content/Image/crop.png"/>
                    </a>

                @*@Html.ActionLink("IT Help Desk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav" style="margin-top:1em; ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Knowledge Base", "Index", "KnowledgeBase")</li>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Users", "AllUsers", "Home")</li>
                        <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                    }
                    @if (ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Staff"))
                    {
                        <li>@Html.ActionLink("Tickets", "Index", "Ticket")</li>
                    }
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Criteria", "Index", "Criterion")</li>
                    }
                    @if (ViewContext.HttpContext.User.IsInRole("Staff"))
                    {
                        <li>@Html.ActionLink("Report issues", "Create", "Ticket")</li>
                    }
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Report issues", "CreateOnBehalf", "Ticket")</li>
                    }
                    @if (ViewContext.HttpContext.User.IsInRole("ITManager"))
                    {
                        <li>@Html.ActionLink("Reports", "Index", "ITManager")</li>
                        <li>@Html.ActionLink("All tickets", "AllTickets", "ITManager")</li>
                    }
                </ul>

                <div class="pull-right" style="display:inline-block; margin-top:13px">@Html.Partial("_LoginPartial")</div>

            </div>
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <div style="position: fixed; bottom:2em; display:inline-block;   width: 80%;">
            <hr />
            <footer>
                <p style="display:inline-block">&copy; @DateTime.Now.Year  IT Help Desk System</p>
                <div style="display:inline-block" class="pull-right"><a href="#">Help</a> </div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsdatatables")
    @RenderSection("scripts", required: false)
</body>
</html>
