@model ITHelpDeskSystem.ViewModels.ITHelpDeskAdminViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add new admin</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <fieldset class="fieldset-border">
            <legend class="legend-border">Login Information</legend>
            <div class="row">
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Staff initials (e.g.  mam)" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "example@sunbulahgroup.com" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Passowrd" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-6" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Retype Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset-border">
            <legend class="legend-border">Personal Information</legend>
            <div class="row">
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First name" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g.  0096605XXXXXXXXX" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g.  ITIL certified" } })
                    @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset-border">
            <legend class="legend-border">Professional Information</legend>
            <div class="row">
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.Speciality, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Speciality, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. networking" } })
                    @Html.ValidationMessageFor(model => model.Speciality, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "JobTitle" } })
                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.ExtensionNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ExtensionNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. 123" } })
                    @Html.ValidationMessageFor(model => model.ExtensionNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.OfficeNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.OfficeNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. 123" } })
                    @Html.ValidationMessageFor(model => model.OfficeNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-4" style="margin-left: 0.25em">
                    @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. VAN sale manager" } })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>

            </div>
        </fieldset>

        <div class="form-group">
            <button style="margin-right:1em" class="btn btn-success pull-right "> <span class="glyphicon glyphicon-check" type="submit"></span> Done</button>
            <div style="margin-left:1em">@Html.ActionLink("Back to IT staff list", "Index", null, new { @class = "btn btn-info pull-left" })</div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Scripts/Main.js"></script>
}

