@model ITHelpDeskSystem.ViewModels.ITHelpDeskAdminViewModel

@{
    ViewBag.Title = "Delete";
}

<h3 style="margin-top:1.5em">Are you sure you want to delete <b>@Html.DisplayFor(model => model.FirstName)'s </b> information permanently?</h3>

<fieldset class="fieldset-border">
    <legend class="legend-border">login Information</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</fieldset>

<fieldset class="fieldset-border">
    <legend class="legend-border">Personal Information</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @if (!String.IsNullOrEmpty(Model.Mobile))
        {
            @Html.DisplayFor(model => model.Mobile)
    }
            @if (String.IsNullOrEmpty(Model.Mobile))
        {
            <p style="color:lightgray">Not set</p>
    }

        </dd>

    </dl>
</fieldset>


<fieldset class="fieldset-border">
    <legend class="legend-border">Professional Information</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtensionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtensionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>
    </dl>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-danger pull-right "> <span class="glyphicon glyphicon-trash" type="submit"></span> Delete</button>
        <div style="display:inline; margin-right:40px">@Html.ActionLink("Back to admin's list", "Index", null, new { @class = "btn btn-info" })</div>
    </div>
}
