@model ITHelpDeskSystem.ViewModels.KnowledgeBaseViewModel

@{
    ViewBag.Title = "Delete solution";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2 style="margin-top:1em;">Are you sure you want to delete <b>@Html.DisplayFor(model => model.Topic) </b> solution permanently?</h2>

<div>
    <fieldset class="fieldset-border">
        <legend class="legend-border">Summary</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Topic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Topic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditionDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditedByName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditedByName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedByName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedByName)
            </dd>
        </dl>
    </fieldset>
    <fieldset class="fieldset-border">
        <legend class="legend-border">Incident details</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IncidentTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IncidentTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IncidentDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IncidentDescription)
            </dd>
        </dl>
    </fieldset>

    <fieldset class="fieldset-border">
        <legend class="legend-border">Solution details</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SolutionDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SolutionDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.KBAttachment)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.KBAttachment)
                @if (!String.IsNullOrEmpty(Model.KBAttachmentFilePath))
                {
                    <a href="@Url.Content(Model.KBAttachmentFilePath)">View attachments</a>
                }
                @if (String.IsNullOrEmpty(Model.KBAttachmentFilePath))
                {
                    <p style="color:lightgray">No attachments</p>
                }
            </dd>
        </dl>
    </fieldset>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div style="display:inline; margin-right:40px">@Html.ActionLink("Back to all sulotions", "Index", null, new { @class = "btn btn-info" })</div>
        <button class="btn btn-danger pull-right "> <span class="glyphicon glyphicon-trash" type="submit"></span> Delete</button>
    </div>
}
</div>
