@model ITHelpDeskSystem.ViewModels.KnowledgeBaseViewModel

@{
    ViewBag.Title = "Solution details";
}

<h2>Solution details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolutionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KBAttachment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KBAttachment)
            @if (!String.IsNullOrEmpty(Model.KBAttachmentFilePath))
            {
                <a href="@Url.Content(Model.KBAttachmentFilePath)">View attachments</a>
            }
            @if (String.IsNullOrEmpty(Model.KBAttachmentFilePath))
            {
                <p>No attachments</p>
            }
        </dd>

    </dl>
</div>
<div class="form-actions no-color">
    <div style="display:inline; margin-right:40px">@Html.ActionLink("Back to all sulotions", "Index", null, new { @class = "btn btn-primary" })</div>
    @if (ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin"))
    { 
        <a style="display:inline; background-color: #6bc8c0; color:#ffffff; border-color:#6bc8c0;" , href="@Url.Action("Edit", "KnowledgeBase", new { id = Model.Id })" class="btn btn-primary">
            <span class="glyphicon glyphicon-wrench "></span>
            Edit solution
        </a>
    }
</div>