@model IEnumerable<ITHelpDeskSystem.ViewModels.KnowledgeBaseViewModel>

@{
    ViewBag.Title = "All Solutions";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2 style="margin-top:1em;">All Solutions</h2>

@if (ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <a style="margin-bottom:15px;" , href="@Url.Action("Create", "KnowledgeBase")" class="btn btn-success btn-sm pull-right">
        <span class="glyphicon glyphicon-plus "></span>
        Add new solution
    </a>
}

<table class="table table-hover table-stripe" id="knowledgeBaseTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentTitle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SolutionDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentTitle)
            </td>
            <td>
                @Html.Raw(item.SolutionDescription)
               
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <p style="display:inline;">|</p> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <p style="display:inline;">|</p>
                }

                @if (ViewContext.HttpContext.User.IsInRole("ITStaff") || ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#knowledgeBaseTable').DataTable();
        });
        $('#knowledgeBaseTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });

        $('.dataTables_filter input').attr("placeholder", "Seach knowldge base")
    </script>
}

@section styles
    {
    <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
}

