<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "All Users";
}


@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <h3 style="margin-top:1.5em; margin-left:1em;">@ViewBag.Message</h3>

    <div style="margin:auto; text-align:center; margin-top:12em; margin-bottom:10em;">

        <div style="position: relative; float: left; margin-left:25em;">
            <a href="@Url.Action("Index", "Staff")">
                <img style="width:15em; height:15em" src="~/Content/Image/businessperson - Copy.png" />
            </a>
            <div><strong>@Html.ActionLink("Staff", "Index", "Staff")</strong></div>
        </div>


        <div style=" margin-right:20em; margin-left:5em;">
            <a href="@Url.Action("Index", "ITStaff")">
                <img style="width:15em; height:15em" src="~/Content/Image/Picture1.png" />
            </a>
            <div style=""><strong>@Html.ActionLink("Technicians", "Index", "ITStaff")</strong></div>
        </div>
    </div>
}

@if (!ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <h3>Acess denide</h3>
    <div> @Html.ActionLink("Back to homepage", "Index", "Home") <p style="display:inline-block">or</p> @Html.ActionLink("Login", "Login", "Account")</div>
}