@model ITHelpDeskSystem.ViewModels.CriterionViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add criterion</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CriterionDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CriterionDescription, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.CriterionDescription, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <button style="margin-right:1em" class="btn btn-success pull-right "> <span class="glyphicon glyphicon-check" type="submit"></span> Done</button>
        <div style="margin-left:1em">@Html.ActionLink("Back to criteria list", "Index", null, new { @class = "btn btn-info pull-left" })</div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
