@model ITHelpDeskSystem.ViewModels.CriterionViewModel

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:1.5em">@Html.DisplayFor(model => model.CriterionDescription) category details</h2>

<div>
    <h4>CriterionViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.CriterionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriterionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveCriterion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveCriterion)
        </dd>

    </dl>
</div>
<div class="form-actions no-color">
    <div style="display:inline; margin-right:40px">@Html.ActionLink("Back to criteria list", "Index", null, new { @class = "btn btn-info" })</div>
    <a style="display:inline; background-color: mediumaquamarine; color:#ffffff; border-color:#6bc8c0;" , href="@Url.Action("Edit", "Criterion", new { id = Model.Id })" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-wrench "></span>
        Edit criterion
    </a>
</div>
