@model IEnumerable<ITHelpDeskSystem.ViewModels.FeedbackViewModel>

@{
    ViewBag.Title = "Feedback";
}

<style>
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: none;
        color: gray;
        border-radius: 4px;
        border: 1px solid #828282;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: none;
        color: gray !important;
    }
</style>

<link href="~/Content/Site.css" rel="stylesheet" />

<h2 style="margin-top:1em;">Feedback </h2>


<table class="table table-hover table-stripe" id="staffTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackComment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.FeedbackComment))
                    {
                        @Html.DisplayFor(modelItem => item.FeedbackComment)
                    }
                    @if (String.IsNullOrEmpty(item.FeedbackComment))
                    {
                        <p style="color:lightgray">No Comment</p>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<div style="display:inline; margin-right:40px">@Html.ActionLink("Back to Reports", "Index","ITManager" ,null, new { @class = "btn btn-info" })</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#staffTable').DataTable();
        });
        $('#staffTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });
        $('.dataTables_filter input').attr("placeholder", "Seach feedbacks")

    </script>

}

@section styles
{
    <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
}
