@model ITHelpDeskSystem.ViewModels.ITStaffViewModel

@{
    ViewBag.Title = "IT staff details";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2 style="margin-top:1.5em">@Html.DisplayFor(model => model.FirstName)'s information</h2>

<fieldset class="fieldset-border">
    <legend class="legend-border">login Information</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</fieldset>

<fieldset class="fieldset-border">
    <legend class="legend-border">Personal Information</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @if (!String.IsNullOrEmpty(Model.Mobile))
            {
                @Html.DisplayFor(model => model.Mobile)
            }
            @if (String.IsNullOrEmpty(Model.Mobile))
            {
                <p style="color:lightgray">Not set</p>
            }

        </dd>

    </dl>
</fieldset>


<fieldset class="fieldset-border">
    <legend class="legend-border">Professional Information</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtensionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtensionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>
    </dl>
</fieldset>
<div class="form-actions no-color">
    <div style="display:inline; margin-right:40px">@Html.ActionLink("Back to IT staff list", "Index", null, new { @class = "btn btn-info" })</div>
    <a style="display:inline; background-color: mediumaquamarine; color:#ffffff; border-color:#6bc8c0;" , href="@Url.Action("Edit", "ITStaff", new { id = Model.Id })" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-wrench "></span>
        Edit IT Staff
    </a>
</div>
